# Write a while and for loop statement to perform the following

## 1. loop statement that prints out numbers between 1 and 20

### While Loop

In [1]:
i=1
while i <=20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### For Loop

In [2]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 2. Loop statement that prints out even numbers between 30 and 70

### While Loop

In [3]:
i=30
while i <=70:
    print(i)
    i+=2

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

### For Loop

In [4]:
for i in range(30,71,2):
    print(i)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

## 3. Loop statement that prints multiplication table 5

### While Loop

In [5]:
i=5
while i <= 100:
    print (i)
    i+=5

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### For Loop

In [6]:
for i in range(5,101,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## 4. Write a program that accepts number input and return the factorial of that number

In [8]:
number = int(input("Enter a number to find the factorial: "))
factorial = 1
while number > 0:
    factorial = factorial * number
    number -= 1
print(factorial)

Enter a number to find the factorial: 3
6